<div class="container">

    <div class="head">
        <h1>Verify your reservation information</h1>
    </div>  

    <div class="blocks">
        <div class="column1">
            <div class="block">
                <h2>{{"pdName" | translate}}</h2>
                <span>{{name}}</span>
            </div>

            <div class="block">
                <h2>{{"pdEmail" | translate}}</h2>
                <span>{{email}}</span>
            </div>

            <div class="block">
                <h2>{{"pdLoc" | translate}}</h2>
                <span>{{location}}</span>
            </div>
        </div>
        <div class="column2">
            <div class="block">
                <h2>Vehicle Make/Model</h2>
                <span>{{vehicleMake}} {{vehicleModel}}</span>
            </div>

            <div class="block">
                <h2>{{"pdDate" | translate}}</h2>
                <span>{{startDate}}</span>
            </div>

            <div class="block">
                <h2>{{"pdDate" | translate}}</h2>
                <span>{{endDate}}</span>
            </div>
        </div>
    </div>

    <div class="button">
        <p-button (click)="submitReservation()" routerLink="/confirm-reservation">Confirm Reservation</p-button>
    </div>
</div>

