<div class="container">

    <div class="head">
        <h1>{{"verifyReservation" | translate}}</h1>
    </div>  

    <div class="blocks">
        <div class="column1">
            <div class="block">
                <h2>{{"pdName" | translate}}</h2>
                <span>{{name}}</span>
            </div>

            <div class="block">
                <h2>{{"pdEmail" | translate}}</h2>
                <span>{{email}}</span>
            </div>

            <div class="block">
                <h2>{{"pdLoc" | translate}}</h2>
                <span>{{location}}</span>
            </div>
        </div>
        <div class="column2">
            <div class="block">
                <h2>{{"pdVehicleDetails" | translate}}</h2>
                <span>{{vehicleMake}} {{vehicleModel}}</span>
            </div>

            <div class="block">
                <h2>{{"pdDate" | translate}}</h2>
                <span>{{startDate}}</span>
            </div>

            <div class="block">
                <h2>{{"pdDate" | translate}}</h2>
                <span>{{endDate}}</span>
            </div>

            <div class="block">
                <h2>{{"pdTotalPrice" | translate}}</h2>
                <span *ngIf="location === 'Philadelphia'">${{totalReservationPrice}}</span>
                <span *ngIf="location === 'Cancún'">Mex${{totalReservationPrice}}</span>
            </div>
        </div>
    </div>
    <p-toast></p-toast>
    <div class="button">
        <p-button [label]="translate.instant('ConfirmReservation')"
        (click)="submitReservation()">
    </p-button> 
    </div>
</div>

