div.container{
    background-color: white;
    position: fixed;
    margin: auto;
    padding: auto;
    left: .5%;
    top: 16%;
    width: 99%;
    height: 70%;
    text-align: center;
}

h2 {
    
    font-size: medium;
    font-weight: lighter;
    text-align: left;
}
div.head {
    position: relative;
    margin: auto;
    padding: auto;
    display: inline-flex;

    left: 0%;
}

div.blocks {
    position: relative;
    height: 60%;
    width: 75%;
    left: 0%;
    padding: 0;
    margin: .5rem;
    display: inline-flex;
} 

div.block {
    position: relative;
    margin: auto;
    padding: 0rem 0rem 1rem 0rem;
    width: 20%;
    left: 1%;
    top: 10%;
}

div.button {
    margin: auto;
    padding: auto;
    position: absolute;
    left: 45%;
    top: 80%;
}
div.column1 {
    width: 100%;
}

div.column2 {
    width: 100%;
}

