<main>

    <object>
            <div class="head">
                <h1>Review Reservation</h1>
            </div> 
            
        <div class="blocks">
            <div class="block1">
                <div class="block">
                    <div class="text">
                        <h2>Confirmation Number :</h2>
                                <p>place holder</p>
                    </div>
                </div>

                <div class="block">
                    <div class="text">
                        <h2>Name :</h2>
                                <p>place holder</p>
                    </div>
                </div>

                <div class="block">
                    <div class="text">
                        <h2>Email :</h2>
                                <p>place holder</p>
                    </div>
                </div>
            </div>

            <div class="block2">
                <div class="block">
                    <div class="text">
                        <h2>Reservation Date(s) :</h2>
                                <p>place holder</p>
                    </div>
                </div>

                <div class="block">
                    <div class="text">
                        <h2>Vehicle :</h2>
                                <p>place holder</p>
                    </div>
                </div>

                <div class="block">
                    <div class="text">
                        <h2>Location :</h2>
                                <p>place holder</p>
                    </div>
                </div>
            </div>
        </div> 
            <div class="button">
                <a routerLink="confirm">
                    <p-button label="Confirm Reservation"></p-button>
                </a>
            </div>

    </object> 

</main>

