div.container{
    background-color: white;
    position: fixed;
    margin: auto;
    padding: auto;
    left: .5%;
    top: 16%;
    width: 99%;
    height: 70%;
    text-align: center;
}

h2 {
    
    font-size: medium;
    font-weight: lighter;
    text-align: left;
}
div.head {
    position: relative;
    margin: auto;
    padding: auto;
    display: inline-flex;

    left: 0%;
}

div.blocks {
    position: relative;
    height: 60%;
    width: 75%;
    left: 0%;
    padding: 0;
    margin: .5rem;
    display: inline-flex;
} 

div.block {
    position: relative;
    margin: auto;
    padding: 0rem 0rem 1rem 0rem;
    width: 20%;
    left: 1%;
    top: 10%;
}

div.button {
    margin: auto;
    padding: auto;
    position: absolute;
    left: 45%;
    top: 80%;
}
div.column1 {
    width: 100%;
}

div.column2 {
    width: 100%;
}
/* 
h1 {
    text-align: left;
    padding-right: 1rem;
}

h2 {
    font-weight: lighter;
    font-size: medium;
    padding: auto;
}

h3 {
    text-align: left;
    padding-right: 1rem;
    padding-top: .75rem;
    text-decoration: underline;
}

h4 {
    text-align: left;
    padding-right: 1rem;
    padding-top: .75rem;
}

object {
    background-color: white;
    color: black;
    margin: auto;
    padding: auto;
    position: absolute;
    left: .5%;
    top: 17%;
    width: 99%;
    height: 77%;
    text-align: center;
} 


div.button {
    margin: auto;
    padding: auto;
    position: absolute;
    left: 44%;
    top: 80%;
}

div.date {
    
    padding-left: 4rem;
    text-align: left;
}

div.head {
    position: relative;
    margin: auto;
    display: inline-flex;
    margin-top: 4rem;
    left: 0%;
}

/* div.blocks {
    position: relative;
   
    height: 70%;
    width: 75%;
    left: 10.5%;
    padding: auto;
    margin: 2rem;
    display: flex;
} */

/* div.block {
    position: relative;
    padding: auto;
    margin: 0rem;
    width: 50%;
    height: 25%;
    top: 5%;
    left: 25%;
    display: grid;
}

div.block1 {
    position: absolute;
    display: inline;
    width: 50%;
    left: 50%;
}

div.block2{
    position: absolute;
    display: inline;
    width: 50%;
}

div.text {
    position: relative;
    margin: auto;
    padding: auto;
    display: block;
    width: 50%;
    left: 1%;
    text-align: left;
}
  */