@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
    background-color: rgb(238, 238, 238);
}

.container {
    /* margin: 12rem; */
    margin: auto;
    padding: 0rem;
    display: block;
    position: fixed;
    top: 15.5%;
    left: 8.5%;
    width: 85%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.block {
    position: fixed;
    margin: auto;
    padding: 0rem 0rem 1rem 0rem;
    width: 20%;
    left: 1%;
    top: 10%;
}