<main>

    <h1>Go Easy Car Rental Locations</h1>
    <h3>We currently have two convenient locations to choose from!</h3>



            <object>

                <h2>Location 1</h2>

                <ul>
                    <li>Street Address: 1200 Diamond Street </li>
                    <li>City: Ambler</li>
                    <li>State: Pennsylvania</li>
                    <li>Contact: (215)907-9078</li>
                </ul>
            
            </object> 



            <object>

                <h2>Location 2</h2>

                <ul>
                    <li>Street Address: 4054 Main Street </li>
                    <li>City: Mexico City</li>
                    <li>State: Mexico</li>
                    <li>Contact: +52 55 5083 1234</li>
                </ul>
            
            </object> 



</main>