<main>

    <h1>{{"BranchLocation"| translate}}</h1>
    <h3>{{"LocatioMsg"| translate}}</h3>



            <object>
                <div class="icon">
                    <i class="pi pi-map-marker"></i> 
                </div>
                <h2>Philadelphia</h2>
                
                <ul>
                    <li>{{"StreetAddress"| translate}}: 1200 Diamond Street </li>
                    <li>{{"City"| translate}}: Philadelphia</li>
                    <li>{{"State"| translate}}: Pennsylvania</li>
                    <li>{{"Country"| translate}}: USA</li>
                    <li>{{"Contact"| translate}}: (215)907-9078</li>
                </ul>
            
            </object> 



            <object>
                <div class="icon">
                    <i class="pi pi-map-marker"></i> 
                </div>
                <h2>Mumbai</h2>

                <ul>
                    <li>{{"StreetAddress"| translate}}: 4054 Main Street </li>
                    <li>{{"City"| translate}}: Mumbai</li>
                    <li>{{"State"| translate}}: Maharashtra </li>
                    <li>{{"Country"| translate}}: India</li>
                    <li>{{"Contact"| translate}}: +52 55 5083 1234</li>
                </ul>
            
            </object> 



</main>