<main>

    <h1 i18n>Go Easy Car Rental Locations</h1>
    <h3 i18n>We currently have two convenient locations to choose from!</h3>



            <object>

                <h2 i18n>Location 1</h2>

                <ul>
                    <li i18n>Street Address: 1200 Diamond Street </li>
                    <li i18n>City: Ambler</li>
                    <li i18n>State: Pennsylvania</li>
                    <li i18n>Contact: (215)907-9078</li>
                </ul>
            
            </object> 



            <object>

                <h2 i18n>Location 2</h2>

                <ul>
                    <li i18n>Street Address: 4054 Main Street </li>
                    <li i18n>City: Mexico City</li>
                    <li i18n>State: Mexico</li>
                    <li i18n>Contact: +52 55 5083 1234</li>
                </ul>
            
            </object> 



</main>