<main>

    <object>
            <div class="head">
                <h1>Update a Reservation</h1>
                <h4>or</h4>
                <a routerLink="/reservation-form">
                    <h3>Start a new Reservation</h3>
                </a>
            </div>   

            <div class="block">
                <h2>Reservation Number</h2>
                    
                    <div class="input">
                        <input type="text" pInputText [(ngModel)]="value" />
                    </div>
            </div>

            <div class="block">
                <h2>Email</h2>
                    
                    <div class="input">
                        <div class="textbox">
                            <input type="text" pInputText [(ngModel)]="value2" />
                        </div>
                    </div>
            </div>

            <div class="block">
                <h2>Update Pick-up & Return Location</h2>
        
                    <div class="input">
                        <div class="textbox">
                            <p-dropdown [options]="location" [(ngModel)]="selectedLocation" optionLabel="name"></p-dropdown>
                        </div>
                    </div>
            </div>

            <div class="block">
                <h2>Update pick-up & Return Date</h2>

                    <div class="date">
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"></p-calendar>
                    </div>
            </div>


            <div class="buttons">
                <div class="button">
                    <p-button label="Update Reservation" routerLink="/review"></p-button>
                </div>

                <div class="button">
                    <p-button label="Cancel Reservation" routerLink="/review"></p-button>
                </div>
            </div>

    </object> 

</main>

