h1 {
    text-align: left;
    padding-right: 1rem;
}

h2 {
    text-align: left;
    font-weight: lighter;
    padding-left: 4rem;
    padding-top: .5rem;
    font-size: medium;
}

h3 {
    text-align: left;
    padding-right: 1rem;
    padding-top: .75rem;
    text-decoration: underline;
}

h4 {
    text-align: left;
    padding-right: 1rem;
    padding-top: .75rem;
}
article{
    text-align: center;
    margin-top: 12rem;
}

object {
    background-color: #b4b4b4;
    color: black;
    margin: 12rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    display: inline-block;
    width: 70%;
    height: 45%;
    box-shadow: gray 3px 3px 5px;
    
} 

div.dropdown {
    padding-left: 4rem;
    text-align: left;
}

div.button {
    margin-top: 2rem;
    padding-left: 65rem;
    margin-bottom: .01rem;
    display: flex;
}

div.date {
    
    padding-left: 4rem;
    text-align: left;
    
}

div.head {
    margin-left: 3rem;
    display: inline-flex;
}

