nav {
    background-color: #344043;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    height: 3.25rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 5rem;
    margin-bottom: auto
}

nav > a {
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    color: white;
    width: 8em;
    margin-left: 4rem;
    margin-right: 4rem;
}

nav > a:hover {
    background-color: darkgrey;
}
