<main>

    <object>
            <div class="head">
                <h1>Create an account</h1>
                <h4>or</h4>
                <a routerLink="login">
                    <h3>back to login</h3>
                </a>
            </div> 
            

        <div class="body">

            <div class="block">
                <div class="input">
                    <h2>First Name</h2>
                    <input type="text" pInputText [(ngModel)]="value2" />
                </div>
        
                <div class="input">
                    <h2>Last Name</h2>
                    <input type="text" pInputText [(ngModel)]="value2" />
                </div>

                <div class="input">
                    <h2>Username</h2>
                    <input type="text" pInputText [(ngModel)]="value" />
                </div>
            </div> 
            
            <div class="block">
                <div class="input">
                    <h2>Email</h2>
                    <input type="text" pInputText [(ngModel)]="value2" />
                </div>

                <div class="input">
                    <h2>Password</h2>
                    <input type="text" pInputText [(ngModel)]="value2" />
                </div>

                <div class="input">
                    <h2>Confirm Password</h2>
                    <input type="text" pInputText [(ngModel)]="value3" />
                </div>
            </div>
        </div>

            <div class="button">
                <a routerLink="reservation-form">
                    <p-button label="Sign Up"></p-button>
                </a>
            </div>

    </object> 

</main>