<div class="container">
    <div>
        <p-dropdown 
            [options]="locations" 
            [(ngModel)]="selectedLocation" 
            (onChange)="getVehiclesByLocationAndType()">
        </p-dropdown>
        <p-dropdown
            [options]="vehicleTypes"
            [(ngModel)]="selectedVehicleType"
            (onChange)="getVehiclesByLocationAndType()">
        </p-dropdown>
    </div>

    <p-table [value]="vehicles" [paginator]="true" [rows]=6 [(first)]="paginatorPageNum">
        <ng-template pTemplate="header">
            <tr>
                <th>{{"Make" | translate}}</th>
                <th>{{"Model" | translate}}</th>
                <th>{{"Type" | translate}}</th>
                <th>{{"Location" | translate}}</th>
                <th>Price per day</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr>
                <td>{{ vehicle.make | titlecase}}</td>
                <td>{{ vehicle.model | titlecase}}</td>
                <td>{{ vehicle.type.toUpperCase() === "SUV" ? (vehicle.type | uppercase) : (vehicle.type | titlecase)}}</td>
                <td>{{ vehicle.location | titlecase}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${{ vehicle.pricePerDay }} </td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <div id="reserve"><p-button [label]="translate.instant('ReserveVehicle')" routerLink="/reservation-form"></p-button><div>
</div>