<main>

    <object>
            <div class="head">
                <h1>Log in</h1>
                <h4>or</h4>
                <a routerLink="update-reservation">
                    <h3>Create an account</h3>
                </a>
            </div> 
            


        <h2>Username</h2>
            <div class="input">
                <input type="text" pInputText [(ngModel)]="value" />
            </div>
        <h2>Password</h2>
            <div class="input">
                <input type="text" pInputText [(ngModel)]="value2" />
            </div>
        <h2>Email</h2>
            <div class="input">
                <input type="text" pInputText [(ngModel)]="value3" />
            </div>
     
            
            <div class="button">
                <a routerLink="vehicles">
                    <p-button label="Log In"></p-button>
                </a>
            </div>

    </object> 

</main>

