footer {
    background-color: rgba(103, 58, 183, 0.90); 
    bottom: 30;
    height: 7em;
    padding: 10px 10px 0px 10px;
    text-align: center;
    align-items: center;
    top: 90%;
    width: 100%;
    position: absolute;
    left: 0px;
}

img {
    height: 3em;
    width: 3em;
    padding-top: .5em;
}

p {
    color: whitesmoke;
    padding: 0%;
}