<main>

    <div *ngIf="!showVehicles">
        <div class="head">
            <h1>{{"makereserve" | translate}}</h1>
            <h4>{{"or" | translate}}</h4>
            <a routerLink="/update-reservation">
                <h3>{{"viewupdate" | translate}}</h3>
            </a>
        </div>
        <form [formGroup]="reservationForm" #resForm="ngForm">
            
                    <h2>{{"pdName" | translate}}</h2>
                        <input type="text" pInputText formControlName="name">
                    

         
                    <h2>{{"pdEmail" | translate}}</h2>
                        <input type="email" pInputText formControlName="email">
                   
        
          
                    <h2>{{"pdLoc" |  translate }}</h2>
                        <p-dropdown [options]="locations" formControlName="location" optionLabel="name"></p-dropdown>
                  
                    <h2>{{"pdDate" |  translate }}</h2>
                        <p-calendar formControlName="dateRange" selectionMode="range" 
                                    [readonlyInput]="true" [showIcon]="true"
                                    [showTime]="true"
                                    [showSeconds]="true"
                                    dateFormat="yy-mm-dd" dataType="string"></p-calendar>
                    <h2></h2>
                    <p-button [label]="translate.instant('BrowseVehicles')"
                                (click)="validateFormAndLoadAvailableVehicles()"
                                [disabled]="resForm.form.invalid"></p-button>
            

           
        </form>

    </div>

    <app-available-vehicles *ngIf="showVehicles" [reservationForm]="reservationForm"></app-available-vehicles>

    
</main>
