header {
    font-size: 30px;
    background-color: rgba(103, 58, 183, 0.90); 
    text-transform: uppercase;
    padding: auto;
    margin: auto;
    font-weight: bold;
    height: 5rem;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px; 
    overflow: visible;  
}

img {
    height: 100%;
    width: 120%;
    margin: auto;
    padding: auto;
    color:white;
    justify-content: center;
}

div.text {
    color: white;
    padding: auto;
    margin: auto;
    position: fixed;
    left: 5%;
    top: -.5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


div.lang {
    padding: 1rem;
    margin: auto;  
    position: fixed;
    left: 90%;
}

div.button {
    padding: 1rem;
    margin: auto; 
    position: fixed;
    left: 84%;
}

p.calendar{
    overflow: visible;
}