header {
    font-size: 30px;
    text-align: left;
    background-color: rgba(103, 58, 183, 0.90); ;
    text-transform: uppercase;
    padding-top: .2rem;
    padding-bottom: .2rem;
    font-weight: bold;
    height: 5rem;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    
    
}

img {
    height: 80px;
    width: 80px;
    vertical-align: middle;
    padding-left: 1em;
    padding-bottom: .5em;
    color:white;
}