header {
    font-size: 30px;
    text-align: left;
    background-color: rgba(103, 58, 183, 0.90); 
    text-transform: uppercase;
    padding-top: .2rem;
    padding-bottom: .2rem;
    font-weight: bold;
    height: 5rem;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;   
}

img {
    height: 6rem;
    width: 8rem;
    vertical-align: middle;
    padding-left: 1em;
    padding-bottom: .5em;
    color:white;
}


div.lang {
   
    padding: auto;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-bottom: .5em; 
    float: right;   
}

div.button {
    padding: auto;
    margin-left: 95rem;
    margin-top: 1rem;
    padding-bottom: .5em; 
    float: right;  
}




