<div class="container">
    <h2>Verify your reservation information</h2>
    <div class="block">
        <h2>{{"pdName" | translate}}</h2>
        <span>{{name}}</span>
    </div>
    <div class="block">
        <h2>{{"pdEmail" | translate}}</h2>
        <span>{{email}}</span>
    </div>
    <div class="block">
        <h2>{{"pdLoc" | translate}}</h2>
        <span>{{location}}</span>
    </div>
    <div class="block">
        <h2>Vehicle Make</h2>
        <span>{{vehicleMake}}</span>
    </div>
    <div class="block">
        <h2>Vehicle Model</h2>
        <span>{{vehicleModel}}</span>
    </div> 
    <div class="block">
        <h2>{{"pdDate" | translate}}</h2>
        <span>{{startDate}}</span>
    </div>
    <div class="block">
        <h2>{{"pdDate" | translate}}</h2>
        <span>{{endDate}}</span>
    </div>

    <p-button (click)="submitReservation">Submit Reservation</p-button>
</div>
