div.container {
    background-color:white ;
    display: block;
    position: relative;
    text-align: center;
    top: 16rem;
    left: .5rem;
    height: 25rem;
    padding: 1rem;
}

h2 {
    position: relative;
    left: 17%;
    font-size: medium;
    text-align: left;
}

div.buttons {
    display: inline-flex;
}

div.button {
    display: block;
    position: relative;
    top: 5rem;
    padding: auto;
    margin: 1rem;
    width: auto;
}

div.head {
    margin: 1rem;
}

div.text {
    color: red;
    margin: 3rem 0rem 0rem 0rem;
    font-size: larger;
}

div.block {
    text-align: left
}