<main>
      
            <object>

                <h1>{{"WelcomeMsg" | translate}}</h1>

                <!-- <h2>We're here to help get you where you're going! </h2> -->
                
                <div class="blocks">
                    <div class="block1">
                        <div class="icon1">
                            <i class="pi pi-thumbs-up"></i>
                        </div>
                        <h3>{{"GreatService "| translate}}</h3>
                        <h4> {{"GreatServiceMsg" | translate}}</h4>
                    </div>
                    
                    <div class="block1">
                        <div class="icon1">
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <h3>{{"GreatPrice"| translate}}</h3>
                        <h4>{{"GreatPriceMsg" | translate}}</h4>
                    </div>
                </div>

                <!-- <ul>
                    <li>We offer excellent customer serive, and reasonable pricing. </li>
                    <li>  We have two convenient locations, with more opening soon! </li>
                </ul> -->
                

            </object> 

            <div class="tiles">
               <div class="tile" routerLink="reservation-form">
                <div class="icon">
                    <i class="pi pi-calendar-plus"></i> 
                </div>
                <p>{{"ReserveTab" | translate}}
                    <i class="pi pi-angle-right"></i> 
                </p>     
               </div>

               <div class="tile" routerLink="vehicles">
                <div class="icon">
                    <i class="pi pi-car"></i> 
                </div>
                <p>{{"AvailVehicle" | translate}}
                    <i class="pi pi-angle-right"></i>
                </p>
               </div>

               <div class="tile" routerLink="location">
                <div class="icon">
                    <i class="pi pi-map-marker"></i> 
                </div>
                <p>{{"ExploreLocation" | translate}}
                    <i class="pi pi-angle-right"></i>
                </p>
               </div>

            </div>




</main>
